{
  "extends": [
    "universe",
    "universe/shared/typescript-analysis",
    "next/core-web-vitals",
    "plugin:storybook/recommended"
  ],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.d.ts"],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ]
}
